.dialog {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  padding: 20px;
}

.text {
  width: 80%;
}

.answers {
  width: 20%;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20px;
}

.answers a {
  color: #FFF;
}

.answers a:hover {
  color: #FF5300;
}