.text {
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  width: 90%;
  padding: 1em;
  font-size: 2em;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  min-height: 25%;
  z-index: 50;
  border: 1px solid #000;
  border-radius: 0.3em;
  background: rgba(0, 0, 0, 0.3);
}

.answers {
  position: absolute;
  width: 30%;
  right: 0;
  top: 40%;
  padding: 1em;
  font-size: 2.5em;
}

.answers a {
  cursor: pointer;
  display: block;
  color: #FFF;
  text-decoration: none;
  margin-bottom: 0.5em;
}

.answers a:hover {
  color: #FFFEAF;
}